@page "/"
@using System.Security.Claims
@inject IAuthenticationService AuthService

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Hello
            @if (context.User.Identity != null)
            {
                @context.User.Identity.Name
            }
        </p>
        <p>Roles: @(context.User.FindFirst(r => r.Type == ClaimTypes.Role).Value)</p>
        <button @onclick="Logout">Log out</button>
    </Authorized>
    <NotAuthorized>
        <Login/>
    </NotAuthorized>
</AuthorizeView>

@code {


    protected override async Task OnInitializedAsync(){

        Console.WriteLine();
        
        await base.OnInitializedAsync();

    }

    private void Logout()
    {
        AuthService.Logout();
    }
    
}